
body {
    background-color: black;
    
    font-family:'Raleway', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    
}

header img {
    width: 100%;
}
